# Heslo pro uživatele 'elastic' (min 6 znaků)
ELASTIC_PASSWORD=changeme

# Heslo pro uživatele 'kibana_system' (min 6 znaků)
KIBANA_PASSWORD=changeme

# Verze ELK stacku
STACK_VERSION=8.17.0

# Název clusteru
CLUSTER_NAME=spotify-elk-cluster

# Licence (basic = zdarma, trial = 30 dní plná verze)
LICENSE=basic

# Port pro Elasticsearch HTTP API
ES_PORT=9200

# Port pro Kibana webové rozhraní
KIBANA_PORT=5601

# RAM limity pro kontejnery
# Master uzel – nepotřebuje tolik, nedrží data
MEM_LIMIT_MASTER=1073741824
# Data uzly + Kibana + Logstash – potřebují víc
MEM_LIMIT_DATA=1610612736
